<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="d-flex justify-content-end align-items-center p-3">
  <!-- 관리자 페이지 이동 -->
  <a th:href="@{/admin}" class="btn btn-outline-primary me-2">관리자 페이지</a>

  <!-- 로그아웃 -->
  <form th:action="@{/logout}" method="post" class="mb-0">
    <button type="submit" class="btn btn-outline-secondary">Logout</button>
  </form>
</div>

<div class="container">
  <h1 class="mt-5">Product List</h1>
  <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary mb-3" th:href="@{/products/new}">Create New Product</a>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td>
        <div sec:authorize="hasRole('ADMIN')" class="d-flex gap-2">
            <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
            <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
